<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= page_title %></title>
		<link rel="stylesheet" href="/stylesheets/compiled/screen.css" type="text/css" media="screen, projection" title="no title" charset="utf-8">
    <%= yield :html_head %>
  </head>
  <body id="subindex">
    <%= cms_toolbar %>
		<div id="outer">    
			<div id="container">
				<div id="header">
					<h1 class="fr">GIRA: Groupe interdisciplinaire de recherche sur les Amériques</h1>
					<%= render_menu :from_top=>1, :depth=>1  %>
				</div>
				
				<div id="feature">
					<div id="feature-teaser">
						<h3><a href="/fr/qui-sommes-nous">En savoir plus</a></h3>
					</div>
					<div id="feature-text-column">
						<div id="feature-text">
							<%= container :feature %>
							</div>
						</div>
				</div>

				<div id="news">
					<%= container :news %>
				</div>

				<div id="regards">
					<div id="regards-text">
						<%= container :regards %>
					</div>
				</div>
				<div id="footer">
					<%= render_menu :from_top=>1, :depth=>1  %>
				</div>
    </div>
	</div>
  </body>
</html>
