<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= page_title %></title>
		<link rel="stylesheet" href="/stylesheets/compiled/screen.css" type="text/css" media="screen, projection" title="no title" charset="utf-8">
    <%= yield :html_head %>
  </head>
  <body id="subindex">
    <%= cms_toolbar %>
		<div id="outer">    
			<div id="container">
				<div id="header">
					<h1 class="fr">GIRA: Groupe interdisciplinaire de recherche sur les Amériques</h1>
					<%= render_menu :from_top=>1, :depth=>1  %>
				</div>
				<div>
				&nbsp;	<%= render_breadcrumbs :from_top=>1 %>&nbsp;
				</div>
				<h2 id="section_header"><%= current_page.section.name %></h2>	
				<div id="main">
					<div id="main_text">
						<h2><%= @my_page_title || page_title %></h2>
						<%= container :main %>
					</div>
				</div>
				<div id="section_nav">
					<h3><%= current_page.section.name %></h3>
					<%= render_menu :from_top=>2, :depth=>3  %>
				</div>
				<div id="footer">
					<%= render_menu :from_top=>1, :depth=>1  %>
				</div>	
			</div>
    </div>
	</div>
  </body>
</html>