<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>Nom De Tri:</b> <%= @content_block.nom_de_tri %></p>
<p><b>Institution:</b> <%= @content_block.institution %></p>
<p><b>Texte Fr:</b> <%= @content_block.texte_fr %></p>
<p><b>Texte En:</b> <%= @content_block.texte_en %></p>
<p><b>Texte Pt:</b> <%= @content_block.texte_pt %></p>
<p><b>Texte Sp:</b> <%= @content_block.texte_sp %></p>
<p><b>Photo:</b> <%= image_tag @content_block.photo.url(:col_3)%></p>
